{% extends 'base.html' %}

{% block body %}


<h3>{{legend}}</h3>
{% if pokemontable %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">NationalIndex</th>
            <th scope="col">PokemonName</th>
            <th scope="col">Generation</th>
        </tr>
    </thead>
    <tbody>
        {% for row in pokemontable %}
        <tr>
            <td> {{row.national_index}}</td>
            <td> {{row.pokemon_name}}</td>
            <td> {{row.generation}}</td>

            <td>
                <form action="{{url_for('get_pokemon',InstanceID=row.InstanceID)}}" method="POST">
                    <button type="submit" class="btn btn-dark">Details</button>
                </form>
            </td>
        </tr>
        {% endfor %}  
    </tbody>
  </table>
{% endif %}
{% endblock %}