

{% extends 'base.html' %}

{% block body %}
<p><a href="{{url_for('.pokemonindex')}}"> Go to add another pokemon </a></p>
{% if pokemontable %}
    <table>
        <thead>
            <tr>
                <th>InstanceID</th>
                <th>national_index</th>
                <th>pokemon_name</th>
                <th>generation</th>
            </tr>
        </thead>

        <tbody>
            {% for row in pokemontable %}
            <tr>
                <td> {{row.InstanceID}}</td>
                <td> {{row.national_index}}</td>
                <td> {{row.pokemon_name}}</td>
                <td> {{row.generation}}</td>
            </tr>   
            {% endfor %} 
        </tbody>
    </table>
    {% endif %}
{% endblock %}
