{% extends 'base.html' %}
{% block body %}
<div>
    <p><a href="{{url_for('index')}}"> Home page </a></p>
    <h3>{{ legend }}</h3>
    {% if form %}
    <form method='POST' action="">
        {{ form.csrf_token }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">InstanceID</th>
                    <th scope="col">NationalIndex</th>
                    <th scope="col">Name</th>
                    <th scope="col">Generation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{form.InstanceID}}</td>
                    <td> {{form.national_index}}</td>
                    <td> {{form.pokemon_name}}</td>
                    <td> {{form.generation}} </td>
                    <td> <button type="submit" class="btn btn-dark" formaction="{{url_for('update_pokemon',InstanceID=form.InstanceID)}}" value="Update">Update</button>
                        <button type="submit" class="btn btn-dark" formaction="{{url_for('delete_pokemon',InstanceID=form.InstanceID)}}" value="Delete">Delete</button>
                    </td>
                </tr> 
            </tbody>
            </table>
        

    </form>
    {% endif %}




</div>
{% endblock %}