{% extends 'base.html' %}
{% block body %}
<div>
    <h3>{{legend}}</h3>
    <form method='POST' action="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">InstanceID</th>
                    <th scope="col">NationalIndex</th>
                    <th scope="col">Name</th>
                    <th scope="col">Generation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{ form.csrf_token }}
                    <td>{{form.InstanceID(size=5, readonly=true)}}</td>
                    <td>{{form.national_index(size=20)}}</td>
                    <td>{{form.pokemon_name(size=20)}}</td>
                    <td>{{form.generation(size=20)}} </td>
                </tr> 
            </tbody>
            </table>
        <input type="submit" value="Save">
    
    </form>


</div>
{% endblock %}



